*,*::after,*::before{
    box-sizing: border-box;
}
body{
    padding: 0;
    background-color: rebeccapurple;
}
.container{
    min-height: 100vh;
}
.card{
    height: fit-content;
    max-width: 360px;
    width: 100%; 
}
.bg{
    background-color: rgb(247 247 247) !important;
}
input::placeholder{
    font-size: 14px;
    letter-spacing: 0.5px;
}
#showme{
    font-size: 14px;
}
.font{
    font-size: 14px;
    color: #000000b4;
}
#countryflag{
    display: none;
    height: 38px;
    object-fit: cover;
    width: 50px;
}