*, ::before, ::after {
    box-sizing: border-box;
}
:root {
    scroll-behavior: smooth;
}
body {
    background: radial-gradient(circle, #FF3B3F 30%, #C41E3A 100%);
    color: #444444;
    font-family: 'Roboto';
    font-size: 16px;
    margin: 0px;
}
h1, h2, h3, h4, h5{
    font-family: 'Poppins';
}
a {
    color: #444444;
    text-decoration: none;
}
ul li{
    list-style: none;
}

/* Header */
/* Top-bar */

.top-bar{
    background-color: transparent;
    display: flex;
    font-size: 14px;
    height: 40px;
    padding: 0;
    transition: all 0.5s;
}
.top-bar .top-bar_container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 90px;
    padding: 0 10px;
    width: 100%;
}
.top-bar_container .contact-info i{
    color: #ffffffda;
    font-size: 14px;
    padding: 0 10px;
}
.top-bar_container .contact-info i .mail-hover:hover{
    text-decoration: underline;
    color: #fff;
}
.top-bar_container .contact-info i .tel-hover:hover{
    color: #fff;
}
.top-bar_container .contact-info i a{
    color: #ffffffda;
    font-family: 'roboto';
    font-size: 14px;
    font-weight: 400;
    padding: 0 2px;
}
.top-bar_container .social-links{
    display: flex;
    margin-right: 20px;
}
.social-links a{
    padding: 0 10px;
}
.social-links a i{
    color: #ffffff8f;
    font-size: 16px;
    transition: 0.3s;
}
.social-links a:hover i{
    color: #fff;
}
@media (max-width: 767px) {
    .top-bar .top-bar_container{
        margin: 0 15px;
    }
    .top-bar_container .contact-info{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .top-bar_container .contact-info i, 
    .top-bar_container .contact-info i a {
        font-size: 12px;
    }
    .top-bar_container .social-links{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .top-bar .top-bar_container{
        margin: 0 30px;
        padding: 0;
    }
    .top-bar_container .contact-info i, 
    .top-bar_container .contact-info i a {
        font-size: 12px;
    }
}
@media (min-width: 992px) and (max-width: 1198.98px){
    .top-bar .top-bar_container{
        margin: 0 70px;
    }
    .top-bar_container .contact-info i, 
    .top-bar_container .contact-info i a {
        font-size: 12px;
    }
}

/* Bottom-bar */

header{
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 999;
}
.bottom-bar{
    background-color: transparent;
    margin: 0;
    transition: all 0.5s;
}
.bottom-bar_container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 90px;
    padding: 10px;
    height: 70px;
    position: relative;
}

.bottom-bar_container .navbar-container .nav-menu{
    display: flex;
}
.bottom-bar_container .logo{
    margin-left: 6px;
    margin-right: 70px;
}
.bottom-bar_container a h1{
    color: #fff;
    font-size: 30px;
    margin: 0;
    position: relative;
}
.bottom-bar_container a h1::after{
    color: orange;
    content: ".";
    font-size: 30px;
    position: absolute;
}

.navbar-container{
    margin: 0 20px;
}

.navbar-container .nav-menu{
    align-items: center;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}
.nav-menu .nav-list{
    margin: 0 2px;
    background: rgba(26, 26, 26, 0.34);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.1px);
    border-radius: 20px;
    padding: 6px 14px;
    position: relative;
    cursor: pointer;
    transition: all 0.6s ease;
}
.nav-menu .nav-list .nav-name{
    align-items: center;
    display: flex;
    font-size: 13px;
    font-weight: 300;
    justify-content: space-between;
    padding: 0 2px;
    position: relative;
    transition: all 0.6s ease;
    color: #fff;
}
.nav-menu .nav-list:hover{
    background-color: #fff;
}
.nav-menu .nav-list:hover .nav-name{
    color: #000;
}
.dropdown-menu .nav-name i{
    color: #fff;
    padding-left: 6px;
    transition: all 0.6s;
}
.dropdown-menu .nav-name:hover i{
    color: #000;
} 
.nav-menu .active-menu{
    background-color: #fff;
}
.nav-menu .active-menu .nav-name{
    color: #000;
} 

.bottom-bar_container .apt-btn{
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    font-size: 18px;
    margin: 0 10px 0 30px;
    padding: 7px 10px;
    transition: all 0.6s ease;
}
.bottom-bar_container .apt-btn:hover{
    background: rgba(26, 26, 26, 0.34);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.1px);
    color: #fff;
}

.nav-list .dropdown{
    align-items: flex-start;
    background: rgba(26, 26, 26, 0.34);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 14px;
    opacity: 0;
    padding: 10px 0px;
    position: absolute;
    top: 64px;
    transition: all 0.6s ease;
    visibility: hidden;
    width: 190px;
    border-radius: 10px;
    opacity: 0;
}
.dropdown .dd_nav{
    padding: 8px 16px;
    width: 190px;
    transition: all 0.6s ease;
}
.dropdown .dd_nav .ddnav_name{
    color: #ffffffe5;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.6s ease;
}
.dd_nav:hover{
    background-color: #fff;
}
.dd_nav:hover .ddnav_name {
    color: #000;
}
.dropdown .ddnav_name .fa-solid {
    font-size: 15px;
    margin-left: 14px;
    transform: rotate(-90deg);
    color: #fff;
    transition: all 0.6s ease;
}
.dd_nav2:hover .fa-solid {
    bottom: -2px;
    left: -5px;
    position: relative;
    transform: rotate(0deg);
    color: #000;
}
.dropdown .dd_nav2{
    position: relative;
}

/* deep drop down */
.dd_nav2 .deep-drop{
    align-items: flex-start;
    background: rgba(26, 26, 26, 0.34);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px;
    position: absolute;
    right: 165px;
    top: 0;
    transition: all 0.6s ease;
    width: 190px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
}
.deep-drop .ddd_nav{
    padding: 8px 16px;
    width: 190px;
    transition: all 0.6s ease;
}
.deep-drop .ddd_nav .dddnav_name{
    color: #ffffffe5;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.6s ease;
}
.ddd_nav:hover{
    background-color: #fff;
}
.ddd_nav:hover .dddnav_name {
    color: #000;
}
.dropdown-menu:hover .dropdown {
    transform: translateY(-25px);
    visibility: visible;
    opacity: 1;
}
.dropdown-menu:hover .deep-drop {
    visibility: hidden;
    opacity: 0;
}
.dd_nav2:hover .deep-drop {
    transform: translateX(-25px);
    visibility: visible;
    opacity: 1;
}

.mbl-menu a i{
    font-size: 20px;
    margin-right: 16px;
    display: none;
    color: #fff;
    position: absolute;
    top: 22px;
    right: -20px;

}

@media (max-width: 767px) {
    header{
        height: 60px;
    }
    .bottom-bar_container{
        margin: 0 15px;
        padding: 10px;
        height: 60px;
    }
    .bottom-bar_container .navbar-container{
        display: none;
    }
    .mbl-menu a i{
        display: block;
        margin: 0 35px;
        font-size: 20px;
    }
    .bottom-bar_container .apt-btn{
        padding: 7px 9px;
        font-size: 14px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .bottom-bar_container{
        margin: 0 30px;
        padding: 10px 0;
        justify-content: space-between;
    }
    .bottom-bar_container .logo{
        margin: 0;
    }
    .bottom-bar_container .logo h1{
        font-size: 26px;
    }
    .nav-menu .nav-list .nav-name{
        font-size: 12px;
    }
    .navbar-container{
        margin: 0 10px;
    }
    .nav-menu .nav-list{
        padding: 4px 7px;
    }
    .bottom-bar_container .apt-btn{
        font-size: 15px;
        padding: 7px 10px;
        margin: 0;
    }
}
@media (min-width: 992px) and (max-width: 1198.98px){
    .bottom-bar_container{
        margin: 0 60px;
    }
    .bottom-bar_container .logo{
        margin-right: 40px;
    }
    .nav-menu .nav-list{
        padding: 8px 12px;
    }
    .nav-menu .nav-list .nav-name{
        font-size: 13px;
    }
    .bottom-bar_container .apt-btn{
        font-size: 16px;
        padding: 8px 11px;
        margin: 0;
    }
}

/* hero section */
.hero {
    /* background-image: url("source/hero-image.jpg"); */
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 0 0 60px 0;
    position: relative;
    width: 100%;
    height: calc(100vh-110px);
}

.hero-container {
    margin: 0px 80px;
    padding: 0px 12px;
}