body{
    background-color: #696969;
    height: 100vh;
}
.image1{
    background-image: url(image/image1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image2{
    background-image: url(image/image2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}
.image3{
    background-image: url(image/image3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image4{
    background-image: url(image/image4.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}
.gallery{
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    height: inherit;
}
.image{
    border-radius: 10px;
    flex: 1;
    height: 350px;
    padding: 8px;
    transition: all ease-in-out .4s;
    width: 90px;
}
.image:not(:hover){
    filter: grayscale();
}
.image:hover{
    filter: contrast(120%);
    flex: 4;
    transform: scale(1);
}