body{
    align-items: center;
    background-image: url("Image.jpg");
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
}
.form{
    color: white;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    backdrop-filter: blur(300px);
    box-shadow: 0 0 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.1);
}
h2{
    margin-bottom: 20px;
    text-align: center;
}
.already{
    margin-top: 10px;
    text-align: center;
}
.form_group{
    margin-bottom: 15px;
}
.signUp{
    background-color: #2196f3;
    border-radius: 20px;
    border: 0;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
}
.signUp:hover{
    background-color: #1e88e5;
}
label{
    display: block;
    margin-bottom: 5px;
}
input{
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
    background-color: #faf9f6;
}
#link{
    margin-bottom: 5px;
}
a{
    color: hotpink;
}
a:hover{
    color: tomato;
}