*, ::before, ::after {
    box-sizing: border-box;
}
:root {
    scroll-behavior: smooth;
}
body {
    background: radial-gradient(circle, #FF3B3F 30%, #C41E3A 100%);
    color: #444444;
    font-family: 'Roboto';
    font-size: 16px;
    margin: 0px;
}
h1, h2, h3, h4, h5{
    font-family: 'Poppins';
}
a {
    color: #444444;
    text-decoration: none;
}
ul li{
    list-style: none;
}

/* Header */
/* Top-bar */

.top-bar{
    background-color: transparent;
    display: flex;
    font-size: 14px;
    height: 40px;
    padding: 0;
    transition: all 0.5s;
}
.top-bar .top-bar_container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 90px;
    padding: 0 10px;
    width: 100%;
}
.top-bar_container .contact-info i{
    color: #ffffffda;
    font-size: 14px;
    padding: 0 10px;
}
.top-bar_container .contact-info i .mail-hover:hover{
    text-decoration: underline;
    color: #fff;
}
.top-bar_container .contact-info i .tel-hover:hover{
    color: #fff;
}
.top-bar_container .contact-info i a{
    color: #ffffffda;
    font-family: 'roboto';
    font-size: 14px;
    font-weight: 400;
    padding: 0 2px;
}
.top-bar_container .social-links{
    display: flex;
    margin-right: 20px;
}
.social-links a{
    padding: 0 10px;
}
.social-links a i{
    color: #ffffff8f;
    font-size: 16px;
    transition: 0.3s;
}
.social-links a:hover i{
    color: #fff;
}
@media (max-width: 767px) {
    .top-bar .top-bar_container{
        margin: 0 15px;
    }
    .top-bar_container .contact-info{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .top-bar_container .contact-info i, 
    .top-bar_container .contact-info i a {
        font-size: 12px;
    }
    .top-bar_container .social-links{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .top-bar .top-bar_container{
        margin: 0 30px;
        padding: 0;
    }
    .top-bar_container .contact-info i, 
    .top-bar_container .contact-info i a {
        font-size: 12px;
    }
}
@media (min-width: 992px) and (max-width: 1198.98px){
    .top-bar .top-bar_container{
        margin: 0 70px;
    }
    .top-bar_container .contact-info i, 
    .top-bar_container .contact-info i a {
        font-size: 12px;
    }
}

/* Bottom-bar */

header{
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 999;
}
.bottom-bar{
    background-color: transparent;
    margin: 0;
    transition: all 0.5s;
}
.bottom-bar_container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 90px;
    padding: 10px;
    height: 70px;
    position: relative;
}

.bottom-bar_container .navbar-container .nav-menu{
    display: flex;
}
.bottom-bar_container .logo{
    margin-left: 6px;
    margin-right: 70px;
}
.bottom-bar_container a h1{
    color: #fff;
    font-size: 30px;
    margin: 0;
    position: relative;
}
.bottom-bar_container a h1::after{
    color: orange;
    content: ".";
    font-size: 30px;
    position: absolute;
}

.navbar-container{
    margin: 0 20px;
}

.navbar-container .nav-menu{
    align-items: center;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}
.nav-menu .nav-list{
    margin: 0 2px;
    background: rgba(26, 26, 26, 0.34);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.1px);
    border-radius: 20px;
    padding: 6px 14px;
    position: relative;
    cursor: pointer;
    transition: all 0.6s ease;
}
.nav-menu .nav-list .nav-name{
    align-items: center;
    display: flex;
    font-size: 13px;
    font-weight: 300;
    justify-content: space-between;
    padding: 0 2px;
    position: relative;
    transition: all 0.6s ease;
    color: #fff;
}
.nav-menu .nav-list:hover{
    background-color: #fff;
}
.nav-menu .nav-list:hover .nav-name{
    color: #000;
}
.dropdown-menu .nav-name i{
    color: #fff;
    padding-left: 6px;
    transition: all 0.6s;
}
.dropdown-menu .nav-name:hover i{
    color: #000;
} 
.nav-menu .active-menu{
    background-color: #fff;
}
.nav-menu .active-menu .nav-name{
    color: #000;
} 

.bottom-bar_container .apt-btn{
    background-color: #fff;
    border-radius: 20px;
    color: #000;
    margin: 0 10px 0 30px;
    padding: 9px 22px;
    transition: all 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.apt-btn i{
    font-size: 14px;
}
.bottom-bar_container .apt-btn:hover{
    background: rgba(26, 26, 26, 0.34);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.1px);
    color: #fff;
}

.nav-list .dropdown{
    align-items: flex-start;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 14px;
    opacity: 0;
    padding: 10px 0px;
    position: absolute;
    top: 64px;
    transition: all 0.6s ease;
    visibility: hidden;
    width: 190px;
    border-radius: 10px;
    opacity: 0;
}
.dropdown .dd_nav{
    padding: 8px 16px;
    width: 190px;
    transition: all 0.6s ease;
}
.dropdown .dd_nav .ddnav_name{
    /* color: #ffffffe5; */
    color: #000;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.6s ease;
}
.dd_nav:hover{
    background-color: #444444;
}
.dd_nav:hover .ddnav_name {
    color: #ffffffe5;
}
.dropdown .ddnav_name .fa-solid {
    font-size: 15px;
    margin-left: 14px;
    transform: rotate(-90deg);
    color: #000;
    transition: all 0.6s ease;
}
.dd_nav2:hover .fa-solid {
    bottom: -2px;
    left: -5px;
    position: relative;
    transform: rotate(0deg);
    color: #ffffffe5;
}
.dropdown .dd_nav2{
    position: relative;
}

/* deep drop down */
.dd_nav2 .deep-drop{
    align-items: flex-start;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px;
    position: absolute;
    right: 165px;
    top: 0;
    transition: all 0.6s ease;
    width: 190px;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
}
.deep-drop .ddd_nav{
    padding: 8px 16px;
    width: 190px;
    transition: all 0.6s ease;
}
.deep-drop .ddd_nav .dddnav_name{
    color: #000;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.6s ease;
}
.ddd_nav:hover{
    background-color: #444444;
}
.ddd_nav:hover .dddnav_name {
    color: #ffffffe5;
}
.dropdown-menu:hover .dropdown {
    transform: translateY(-25px);
    visibility: visible;
    opacity: 1;
}
.dropdown-menu:hover .deep-drop {
    visibility: hidden;
    opacity: 0;
}
.dd_nav2:hover .deep-drop {
    transform: translateX(-25px);
    visibility: visible;
    opacity: 1;
}

.mbl-menu a i{
    font-size: 20px;
    margin-right: 16px;
    display: none;
    color: #fff;
    position: absolute;
    top: 22px;
    right: -20px;

}

@media (max-width: 767px) {
    header{
        height: 60px;
    }
    .bottom-bar_container{
        margin: 0 15px;
        padding: 10px;
        height: 60px;
    }
    .bottom-bar_container .navbar-container{
        display: none;
    }
    .mbl-menu a i{
        display: block;
        margin: 0 35px;
        font-size: 20px;
    }
    .bottom-bar_container .apt-btn{
        padding: 7px 14px;
        font-size: 14px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .bottom-bar_container{
        margin: 0 30px;
        padding: 10px 0;
        justify-content: space-between;
    }
    .bottom-bar_container .logo{
        margin: 0;
    }
    .bottom-bar_container .logo h1{
        font-size: 26px;
    }
    .nav-menu .nav-list .nav-name{
        font-size: 12px;
    }
    .navbar-container{
        margin: 0 10px;
    }
    .nav-menu .nav-list{
        padding: 4px 7px;
    }
    .bottom-bar_container .apt-btn{
        font-size: 15px;
        padding: 7px 10px;
        margin: 0;
    }
}
@media (min-width: 992px) and (max-width: 1198.98px){
    .bottom-bar_container{
        margin: 0 60px;
    }
    .bottom-bar_container .logo{
        margin-right: 40px;
    }
    .nav-menu .nav-list{
        padding: 8px 12px;
    }
    .nav-menu .nav-list .nav-name{
        font-size: 13px;
    }
    .bottom-bar_container .apt-btn{
        font-size: 16px;
        padding: 8px 16px;
        margin: 0;
    }
}

/* hero section */
.hero {   
    background-color: #f0f3f5;
    clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
    height: 100vh;
    overflow: hidden;
    padding: 0 0 60px 0;
    position: relative;
    width: 100%;
}

.hero-container {
    align-items: center;
    background-image: url("source/hero-img.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
    display: flex;
    height: 100%;
    margin: 0px;
    padding: 0px 12px;
    position: relative;
}
.hero-content{
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 50%;
}
.hero-title{
    font-size: 60px;
    font-weight: 600;
    line-height: 1.15;
    margin: 0;
}
.hero-para{
    margin: 0;
    letter-spacing: 0.5px;
    line-height: 1.8;
    margin-top: 20px;
}
.get-started{
    background-color: #fff;
    border-radius: 25px;
    border: 0;
    color: #444444;
    font-weight: 500;
    margin: 20px 10px;
    padding: 15px 20px;
    transition: all 0.5s ease;
    width: fit-content;
}
.get-started:hover{
    background-color: #FF3B3F;
    color: #fff;
}

@media (max-width: 767px) {
    .hero{
        height: 100svh;
    }
    .hero-content{
        width: 100%;
        margin-left: 15px;
        height: 50vh;
        justify-content: flex-start;
    }
    .hero-content .hero-title{
        font-size: 28px;
        width: 75%;
    }
    .hero-content .hero-para{
        font-size: 14px;
        letter-spacing: normal;
    }
    .get-started{
        font-size: 13px;
        padding: 8px 16px;
        margin: 10px auto;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .hero-content{
        width: 70%;
        margin-left: 30px;
    }
    .hero-content .hero-title{
        font-size: 36px;
        width: 75%;
    }
    .hero-content .hero-para{
        font-size: 15px;
        margin-top: 14px;
        line-height: 1.5;
        letter-spacing: normal;
    }
    .get-started{
        font-size: 14px;
        padding: 9px 15px;
        margin: 20px 10px;
    }
}
@media (min-width: 992px) and (max-width: 1198.98px){
    .hero-content{
        width: 60%;
        margin-left: 40px;
    }
    .hero-content .hero-title{
        font-size: 50px;
        width: 75%;
    }
    .hero-content .hero-para{
        font-size: 15px;
        margin-top: 14px;
        line-height: 1.5;
        letter-spacing: normal;
    }
    .get-started{
        font-size: 15px;
        padding: 10px 20px;
        margin: 20px 10px;
    }
}

/* Library */
.library{
    padding: 60px 0;
    color: #fff;
}
.library-heading{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 90px;
    padding: 0 20px;
    margin-bottom: 20px;
}
.library-heading_title{
    margin-top: 0;
    font-size: 30px;
}
.library-heading_para{
    margin-top: 0;
}

.library-container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    margin-top: 30px;
    margin: 0 90px;
}
.lib-box{
    align-items: center;
    backdrop-filter: blur(12.1px);
    background: rgba(26, 26, 26, 0.34);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    padding: 10px;
    transition: all 0.6s ease;
    width: 22%;
}
.lib-box .lib-img_container{
    margin: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}
.lib-img_container img{
    transition: transform 0.5s ease;
    max-width: 100%;
    height: auto;
}
.lib-img_container:hover img{
    transform: scale(1.2);
}
.lib-box h4{
    margin: 5px 0;
}
.lib-box p{
    margin: 0 5px;
    font-size: 14px;
}

@media (max-width: 767px){
    .library-heading{
        margin: 0 40px;
    }
    .library-heading_title{
        margin-bottom: 10px;
    }
    .library-heading_para{
        margin-bottom: 10px;
    }
    .library-container{
        margin: 0 15px;
        padding: 10px;
    }
    .lib-box {
        width: 45%;
    }
}

/* Feed section */
.feed{
    padding: 60px 0;
    color: #ffffffe5;
}
.feed-heading{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 90px;
    padding: 0 20px;
    margin-bottom: 20px;
}
.feed-heading_title{
    margin-top: 0;
    font-size: 30px;
}
.feed-heading_para{
    margin-top: 0;
}
.feed-container{
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    margin-top: 30px;
    margin: 0 90px;
}
.feed-box{
    align-items: center;
    backdrop-filter: blur(12px);
    background: rgba(26, 26, 26, 0.34);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 20px;
    text-align: center;
    transition: all 0.6s ease;
}
.feed-box i{
    font-size: 38px;
}
.feed-box h2{
    margin-bottom: 0;
}
.feed-box p{
    font-size: 16px;
    text-align: center;
}
.feed-box:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .feed-container {
        flex-direction: column;
        margin: 0 40px;
        padding-top: 10px;
    }
    .feed-box{
        width: 90%;
    }
    .feed-heading{
        margin: 0;
    }
    .feed-heading_title{
    font-size: 24px;
}
    .feed-heading_para{
    font-size: 15px;
    text-align: center;
}
}
@media (min-width: 768px) and (max-width: 991.98px){
    .feed-box{
        width: 45%;
    }
}

/* Footer bar */
.copyright{
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    padding: 20px 0;
    width: 100%;
}
.copyright-header{
    align-items: center;
    display: flex;
    height: 35px;
    justify-content: center;
}
.copyright-header i{
    font-size: 12px;
}
.copyright-header h4{
    font-size: 14px;
    font-weight: 400;
    padding: 0 6px;
}
.copyright-header h4 span{
    font-size: 16px;
    font-weight: 600;
    padding: 0 2px;
}
.copyright p{
    align-items: center;
    display: flex;
    font-size: 13px;
    justify-content: center;
    margin: 0;
}
.copyright p a{
    color: #1977cc;
    margin-left: 5px;
}
.copyright p a:hover{
    color: #C41E3A;
}